@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'NeueHaasDisplayLight';
  src: url('/fonts/NeueHaasDisplayLight.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'NeueHaasDisplayRoman';
  src: url('/fonts/NeueHaasDisplayRoman.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'NeueHaasDisplayXXThin';
  src: url('/fonts/NeueHaasDisplayXXThin.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'NeueHaasDisplayXThin';
  src: url('/fonts/NeueHaasDisplayXXThin.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'NeueHaasDisplayThin';
  src: url('/fonts/NeueHaasDisplayThin.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'NeueHaasDisplayMedium';
  src: url('/fonts/NeueHaasDisplayMedium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

body {
  position: relative;
  z-index: 0;
  background-color: #ede8e3;
  overflow: hidden;
}

body::before {
  content: '';
  background-image: url('/noiseee.gif');
  opacity: 0.06;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.bg-noised-gif {
  position: relative;
  z-index: 0;
}

.bg-noised-gif::before {
  content: '';
  background-image: url('/noiseee.gif');
  opacity: 0.027;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.bg-noised-gifw {
  position: relative;
  z-index: 0;
}

.bg-noised-gifw::before {
  content: '';
  background-image: url('/noiseee.gif');
  opacity: 0.06;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.mousefollow {
  position: fixed;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border-width: 1px;
  border-color: black;
  opacity: 0.4;
  z-index: 2;
  transition: transform 150ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
}

.mousefollow2 {
  position: fixed;
  top: 0;
  left: 0;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: black;
  opacity: 0.7;
  z-index: 2;
  transition: transform 75ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
}
